USE [master]
GO
/****** Object:  Database [Venta]    Script Date: 07/02/2026 18:55:40 ******/
CREATE DATABASE [Venta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Venta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Venta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Venta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Venta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Venta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Venta]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 07/02/2026 18:55:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[IdFactura] [varchar](10) NOT NULL,
	[IdCliente] [varchar](10) NULL,
	[NombreCLiente] [varchar](60) NULL,
	[ApellidoCLiente] [varchar](60) NULL,
	[IdProducto] [varchar](10) NULL,
	[NombreProducto] [varchar](60) NULL,
	[PrecioProducto] [decimal](7, 2) NULL,
	[Unidades] [int] NULL,
	[Subtotal] [decimal](7, 2) NULL,
	[Total] [decimal](7, 2) NULL,
 CONSTRAINT [PK__Ventas__50E7BAF104A28644] PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ventas] ([IdFactura], [IdCliente], [NombreCLiente], [ApellidoCLiente], [IdProducto], [NombreProducto], [PrecioProducto], [Unidades], [Subtotal], [Total]) VALUES (N'2020202020', N'1223332222', N'Rocio', N'Villacis', N'323', N'Vestidos', CAST(20.00 AS Decimal(7, 2)), 16, CAST(320.00 AS Decimal(7, 2)), CAST(368.00 AS Decimal(7, 2)))
INSERT [dbo].[Ventas] ([IdFactura], [IdCliente], [NombreCLiente], [ApellidoCLiente], [IdProducto], [NombreProducto], [PrecioProducto], [Unidades], [Subtotal], [Total]) VALUES (N'3030303030', N'1232131233', N'Roxana', N'Reina', N'22', N'zapato', CAST(73.50 AS Decimal(7, 2)), 6, CAST(441.00 AS Decimal(7, 2)), CAST(507.15 AS Decimal(7, 2)))
INSERT [dbo].[Ventas] ([IdFactura], [IdCliente], [NombreCLiente], [ApellidoCLiente], [IdProducto], [NombreProducto], [PrecioProducto], [Unidades], [Subtotal], [Total]) VALUES (N'4040404040', N'1201220686', N'Romero', N'Raul', N'030', N'Pantalones', CAST(35.00 AS Decimal(7, 2)), 12, CAST(420.00 AS Decimal(7, 2)), CAST(483.00 AS Decimal(7, 2)))
GO
USE [master]
GO
